.container {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.random-meal {
  flex: 2;
  padding: 20px;
  border-right: 1px solid #ddd
}

.search {

  flex: 1;
  padding: 20px;
}

.title {
  display: inline-block;
  margin: 0;
  padding-right: 10px;
}

.meal-img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  object-position: center;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 10px;
}

.recipe {
  text-align:justify;
}

select {
  width: 200px;
  padding: 5px;
  border: 1px solid gray;
  border-radius: 5px;
  font-size: 16px;
}