.container {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.random-meal {
  flex: 2;
  padding: 20px;
}

.search {
  text-align: right;
  flex: 1;
  padding: 20px;
}

.title {
  display: inline-block;
  margin: 0;
  padding-right: 10px;
}

.meal-img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  object-position: center;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 10px;
}

.recipe {
  text-align:justify;
}